.Guest {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }

  &-body {
    padding-top: 8rem;

    @media (max-width: 991px) {
      padding-top: 7rem;
    }
  }
}
