.TournamentRegisterGroupForm {
  .ant-form-item {
    margin-bottom: 0;
  }

  &-group {
    margin-bottom: 4.8rem;
  }

  &-submit {
    margin-bottom: 2.4rem;
  }

  .TournamentRegisterPage {
    &-card {
      &-title {
        margin-bottom: 2.4rem;
      }
    }
  }

  .SelectDistance {
    .SelectDistance-item {
      padding: 2rem .8rem 2.2rem;

      &-distance {
        font-size: 3.2rem;
        line-height: 3.8rem;
        letter-spacing: -.2rem;
        margin-bottom: .4rem;
        font-family: 'Inter', sans-serif;

        span {
          transform: none;
          margin-left: -.4rem;
          font-size: 3.2rem;
        }
      }

      &-description {
        font-size: 1.2rem;
        line-height: 1.4rem;
      }
    }
  }

  &-description {
    margin-bottom: 2.4rem;
    padding: 2.4rem 3.2rem;
    background: rgba($my-sin, 0.1);

    ul {
      padding-left: 2rem;
      list-style: disc;
    }

    strong {
      font-weight: 700;
    }

    p,
    li {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-style: italic;
      font-weight: 500;
      color: $dove-gray;
    }
  }
}
