.Radio {
  .ant-radio {
    top: 0;

    &-wrapper {
      display: flex;
      align-items: center;
    }

    .ant-radio-inner {
      width: 2.5rem;
      height: 2.5rem;
      border-width: 2px;

      &::after {
        width: 2.5rem;
        height: 2.5rem;
        margin-top: -1.3rem;
        margin-left: -1.3rem;
      }
    }
  }

  span.ant-radio+* {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: $cod-gray;
    font-style: italic;
  }
}
