.Input {
  position: relative;
    .ant-input-password + .label,
    .ant-input-affix-wrapper + .label,
    .ant-input + .label {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      font-style: italic;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.02em;
      color: $regent-gray;
      z-index: 1;
      padding-right: 8px;
  }
  &.required {
    .ant-input-password + .label,
    .ant-input-affix-wrapper + .label,
    .ant-input + .label {
      &:after {
        content: '\00a0 *';
        color: red;
      }
  }
}
  .ant-input-affix-wrapper {
    height: 4.8rem;
    padding: 1.2rem;
    background: $aqua-haze;
    transform: skew(-12deg);
    border: none;
    border-radius: 0;

    .ant-input {
      padding: 0;
      background: transparent;
      height: unset;
      transform: none;
    }

    .ant-input-password-icon {
      transform: skew(12deg);

      .Icon {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

  .ant-input {
    height: 4.8rem;
    padding: 1.2rem;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $cod-gray;
    background: $aqua-haze;
    transform: skew(-12deg);
    border: none;
    border-radius: 0;

    &::placeholder {
      color: $regent-gray;
    }
  }
}
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
  background: $aqua-haze;
}