.UploadAvatar {
  position: relative;

  &:hover {
    .UploadAvatar {
      &-overlay {
        opacity: 1
      }
    }
  }

  &-overlay {
    @include fullAbsolute;
    z-index: 3;
    opacity: 0;
    transition: $common-transition;
  }

  .Upload-wrapper,
  &-wrapper {
    width: 100%;
    height: 100%;
  }

  .Upload {
    width: 100%;
    height: 100%;
  }

  &-wrapper {
    position: relative;
    cursor: pointer;
    border-radius: .4rem;
    overflow: hidden;
  }

  &-preview {
    width: 100%;
    height: 100%;
    border-radius: .4rem;
    overflow: hidden;

    &.scale {
      @include centerScaleImage;
    }

    &.origin {
      @include centerOriginImage;
    }
  }

  &-placeholder {
    width: 100%;
    height: 100%;
    background: $mystic;
  }
}
