.SelectDistance {
  &-item {
    padding: 1.6rem 0;
    transition: $common-transition;
    cursor: pointer;
    transform: skew(-12deg);
    background: $aqua-haze;
    @media (max-width:991px) {
      padding: 0.8rem 0;
    }
    &:hover {
      .SelectDistance {
        &-item {
          &-distance {
            color: $blue-ribbon;
          }

          &-description {
            color: $blue-ribbon;
          }
        }
      }
    }
    &.active {
      background: rgba($blue-ribbon, 0.1);

      .SelectDistance {
        &-item {

          &-distance {
            color: $blue-ribbon;
          }

          &-description {
            color: $blue-ribbon;
          }
        }
      }
    }

    &-distance {
      color: $regent-gray;
      font-size: 6.4rem;
      font-weight: 900;
      line-height: 7.5rem;
      letter-spacing: -0.6rem;
      font-family: 'Montserrat', sans-serif;
      transition: $common-transition;
      text-align: center;
      span {
        font-size: 2.8rem;
        letter-spacing: normal;
        line-height: 3.4rem;
        display: inline-block;
        text-transform: uppercase;
        transform: translate(10%, -60%);
      }
      @media (max-width:991px) {
        font-size: 3.4rem;
        letter-spacing: normal;
        min-width: 120px;
        line-height: 5.8rem;
        span {
          font-size: 1.8rem;
          transform: translate(-20%, -60%);
        }
      }
    }

    &-description {
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.6rem;
      font-weight: 500;
      transition: $common-transition;
      color: $regent-gray;
    }
  }
}
