@import '@/assets/styles/_global.scss';

.TabRectangle {
  &.width-auto {
    width: fit-content;
  }

  &.NORMAL {
    .TabRectangle {
      &-item {
        padding: .8rem 2.4rem;
        color: $regent-gray;
        transform: skew(-12deg);

        &:hover {
          color: $blue-ribbon;
        }

        &.active {
          color: $white;
          background: $blue-ribbon;
        }
      }
    }
  }

  &.VERTICAL {
    .TabRectangle {
      &-list {
        flex-direction: column;
      }

      &-item {
        width: 100%;
        padding: 1.6rem 3.2rem;
        font-style: italic;
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: 500;

        &:hover {
          color: $blue-ribbon;
        }

        &.active {
          color: $blue-ribbon;
          font-weight: 700;
        }
      }
    }
  }

  &.GROUP {
    .TabRectangle {
      &-item {
        padding: 4px 10px;
        font-weight: 900;
        font-size: 24px;
        line-height: 40px;
        color: #001375;
        border: 1px solid #1964FF;
        background: #F2F6F8;
        border-radius: 6px;

        @media (max-width: 767px) {
          font-size: 20px;
          line-height: 30px;
          font-weight: 800;
        }

        &:hover {
          color: $blue-ribbon;
        }

        &.active {
          color: $white;
          background: #001375;
        }

        + &-item {
          margin-right: 10px;
        }
      }
    }

    .TabRectangle-item + .TabRectangle-item {
      margin-left: 10px;
    }
  }

  &-list {
    user-select: none;
  }

  &-item {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    transition: $common-transition;
  }
}
