.TournamentDetail {
  padding-bottom: 12.8rem;
  .WrapperTd {
    display: flex;
    justify-content: center;
    align-items: center;

    &-wrapperIcon {
      padding: 5px;
      border-radius: 50%;
      background: #D6D9E9;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px;
      background-color: #D6D9E9;
      margin-left: 12px;
      cursor: pointer;

      img {
        max-width: 14px;
      }
    }
  }

  &-pagination {
    margin-top: 2.4rem;
  }

  &-tab {
    margin-bottom: 14px;
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  &-banner {
    @include centerScaleImage;
    margin-bottom: 4.8rem;
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }

  &-section {
    margin-top: 4rem;
  }

  &-status {
    column-gap: 2.4rem;
    margin-bottom: 2.4rem;

    &-item {
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $white;
      padding: .8rem 2.4rem;
      border-radius: 2.8rem;
      font-style: italic;
      font-weight: 600;

      &.cancel {
        background: $red-orange;
      }

      &.pending {
        background: $my-sin;
      }

      &.success {
        background: $blue-ribbon;
      }
    }
  }

  &-title {
    font-style: italic;
    font-weight: 900;
    color: $cod-gray;
    font-size: 5rem;
    line-height: 7rem;
    text-transform: uppercase;
    margin-bottom: 2.4rem;

    span {
      font-size: 5.6rem;
      line-height: 6.7rem;
      color: $blue-ribbon;
      margin-left: 1rem;
      display: inline-block;
      text-transform: none;
    }
    @media (max-width:767px) {
      font-size: 2rem;
      span{
        font-size: 1.8rem;
        margin-left: .5rem;
      }
    }
  }

  &-description {
    display: -webkit-box;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-style: italic;
    color: $dove-gray;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4.8rem;
    @media (max-width:767px) {
      font-size: 1.4rem;
      
    }
    a {
      font-weight: 600;
      color: $blue-ribbon;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-subtitle {
    color: $cod-gray;
    font-size: 2.4rem;
    line-height: 4rem;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    @media (max-width:767px) {
      font-size: 1.6rem; 
    }
  }

  &-table {
    margin-top: 1.2rem;
    &.expand-x {
      margin: 0 -1.2rem;
    }

    &.striped {
      table {
        tr {
          &:nth-child(odd) {
            background: $porcelain;
          }

          &:nth-child(even) {
            background: $aqua-haze;
          }
        }
      }
    }
    
    table {
      width: 100%;
      @media (max-width:575px) {
        display: inline-block;
        overflow: scroll;
      }
      td {
        font-style: italic;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $dove-gray;
        padding: .8rem 1.2rem;
        white-space: nowrap;
        vertical-align: middle;
        @media (max-width:767px) {
          font-size: 1.4rem; 
        }
        .Icon {
          width: 2.4rem;
          height: 2.4rem;
          cursor: pointer;
        }

        strong {
          font-weight: 600;
          color: $cod-gray;
        }
      }
    }
    &.race{
      table{
        @media (max-width:575px) {
          display: inline-table;
        }
      }
    }
  }

  .TournamentMap {
    padding: 0;
    margin-bottom: 4.8rem;

    .container {
      max-width: 100%;
      padding: 0;
    }
  }

  &-card {
    padding: 2rem 2.4rem 2.4rem;
    // border: 1px solid $mystic;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(25, 100, 255, 0.25);
    max-width: 642px;
    margin-bottom: 1.6rem;

    &-edit {
      .Button {
        .ant-btn {
          &.ant-btn-ghost {
            background: $mystic;
            border-color: $mystic;
          }
        }
      }
    }

    &-title {
      font-size: 1.8rem;
      line-height: 2.6rem;
      font-style: italic;
      font-weight: 900;
      color: $cod-gray;
      // margin-bottom: 1.2rem;
      @media (max-width:767px) {
        font-size: 1.4rem; 
      }
    }

    &-link {
      background: $mystic;
      margin-bottom: 2.4rem;

      &-url {
        border-bottom: 2px solid $white;

        .Input {
          flex: 1;

          .ant-input {
            background: transparent;
            color: $blue-ribbon;
            transform: none;
            font-style: italic;
          }
        }

        .Button {
          .ant-btn {
            transform: none;
            font-style: italic;
          }
        }
      }

      &-description {
        padding: 2.4rem 3.6rem;

        ul {
          padding-left: 2rem;
          list-style: disc;
        }

        p,
        li {
          font-size: 1.6rem;
          line-height: 2.4rem;
          font-style: italic;
          font-weight: 500;
          color: $dove-gray;
          @media (max-width:767px) {
            font-size: 1.4rem; 
          }
        }
      }
    }

    &-total {
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $dove-gray;
      font-style: italic;
      padding: 1.6rem 0 2.4rem;

      strong {
        margin-left: 0.4rem;
        font-weight: 600;
        color: $cod-gray;
      }
    }

    &-actions {
      .Button {
        .ant-btn {
          &.ant-btn-text {
            padding: 0;
            color: $red-orange;
            background: transparent;
            border: none;
          }
        }
      }
    }
  }

  &-ticket {
    position: sticky;
    top: calc(8rem + 1.6rem);
    padding: 3.2rem 2.4rem;
    background: $aqua-haze;
    @media (max-width: 767px) {
      position: relative;
      padding: 2.2rem 2.4rem;
      background: #F2F6F8;
      width: 37.5rem;
      transform: translateY(-24%);
      margin: auto;
      top: 1.6rem;
    }
    .TournamentDetail {
      &-table {
        margin-bottom: 0;
      }
    }
  }
}

.Modal {
  &-title {
    font-weight: 700;
    font-size: 34.1224px;
    line-height: 41px;
    letter-spacing: -0.02em;
    color: #001375;
    text-align: center;
  }
  &-description {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #EA3629;
    text-align: center;
    margin: 10px 0;
  }
  &-btn {
    &-cancel {
      width: 100%;
      .ant-btn {
        &.ant-btn-default {
          background-color: #F2F6F8;
          color: #1E1E1E;
          width: 100%;
          border: none;
          &:hover {
            background-color: #F2F6F8;
          }
        }
      }
    }
    &-confirm {
      width: 100%;
      .ant-btn {
        &.ant-btn-default {
          background-color: #1964FF;
          color: #FFFFFF;
          width: 100%;
          &:hover {
            background-color: #1964FF;
          }
        }
      }
    }
  }
}

.text-total {
  font-style: italic;
  font-weight: 700;
  font-size: 17.5118px;
  line-height: 22px;
  letter-spacing: -0.0043em;
  color: #001375;
  margin-right: 10px;
}

.custom-btn {
  min-height: unset;
  height: unset;
  border-radius: 0;
  padding: 1.2rem 2.4rem;
  height: 4.8rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  background-color: #E6EBF0;
  font-size: 1.6rem;
  line-height: 2rem;
  cursor: pointer;
  color: #001375;

  &.delete:hover {
    background-color: #FF2E2E;
    color: #FFFFFF;
  }

  &.delete:hover > .custom-btn-icon {
    stroke: #FFFFFF;
  }
  
  &.edit:hover > .custom-btn-icon {
    stroke: #FFFFFF;
  }

  &.edit:hover {
    background-color: #001375;
    color: #FFFFFF;
  }
}