.TournamentDetail {
  padding-bottom: 12.8rem;

  &-banner {
    @include centerScaleImage;
    margin-bottom: 4.8rem;
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }

  &-status {
    column-gap: 2.4rem;
    margin-bottom: 2.4rem;

    &-item {
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $white;
      padding: .8rem 2.4rem;
      border-radius: 2.8rem;
      font-style: italic;
      font-weight: 600;

      &.cancel {
        background: $red-orange;
      }

      &.pending {
        background: $my-sin;
      }

      &.success {
        background: $blue-ribbon;
      }
    }
  }

  &-title {
    font-style: italic;
    font-weight: 900;
    color: $cod-gray;
    font-size: 6.4rem;
    line-height: 7.7rem;
    text-transform: uppercase;
    margin-bottom: 2.4rem;

    span {
      font-size: 5.6rem;
      line-height: 6.7rem;
      color: $blue-ribbon;
      margin-left: 1rem;
      display: inline-block;
      text-transform: none;
    }
    @media (max-width:767px) {
      font-size: 2rem;
      span{
        font-size: 1.8rem;
        margin-left: .5rem;
      }
    }
  }

  &-description {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-style: italic;
    color: $dove-gray;
    margin-bottom: 4.8rem;
    @media (max-width:767px) {
      font-size: 1.4rem;
      
    }
    a {
      font-weight: 600;
      color: $blue-ribbon;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-subtitle {
    color: $cod-gray;
    font-size: 2.4rem;
    line-height: 4rem;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    @media (max-width:767px) {
      font-size: 1.6rem; 
    }
  }

  &-table {
    margin-bottom: 4.8rem;

    &.expand-x {
      margin: 0 -1.2rem;
    }

    &.striped {
      table {
        tr {
          &:nth-child(odd) {
            background: $porcelain;
          }

          &:nth-child(even) {
            background: $aqua-haze;
          }
        }
      }
    }
    
    table {
      width: 100%;
      @media (max-width:575px) {
        display: inline-block;
        overflow: scroll;
      }
      td {
        font-style: italic;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $dove-gray;
        padding: .8rem 1.2rem;
        white-space: nowrap;
        vertical-align: middle;
        @media (max-width:767px) {
          font-size: 1.4rem; 
        }
        .Icon {
          width: 2.4rem;
          height: 2.4rem;
          cursor: pointer;
        }

        strong {
          font-weight: 600;
          color: $cod-gray;
        }
      }
    }
    &.race{
      table{
        @media (max-width:575px) {
          display: inline-table;
        }
      }
    }
  }

  .TournamentMap {
    padding: 0;
    margin-bottom: 4.8rem;

    .container {
      max-width: 100%;
      padding: 0;
    }
  }

  &-card {
    padding: 2rem 2.4rem 4.8rem;
    border: 1px solid $mystic;
    background: $aqua-haze;

    &-edit {
      margin-bottom: -2.4rem;
      @media (max-width:767px) {
        margin-bottom: -3.4rem;
      }
      .Button {
        .ant-btn {
          &.ant-btn-ghost {
            background: $mystic;
            border-color: $mystic;
          }
        }
      }
    }

    .TournamentDetail {
      &-table {
        margin-bottom: 2.4rem;
      }
    }

    &-title {
      font-size: 1.8rem;
      line-height: 2.6rem;
      font-style: italic;
      font-weight: 900;
      color: $cod-gray;
      margin-bottom: 1.2rem;
      @media (max-width:767px) {
        font-size: 1.4rem; 
      }
    }

    &-link {
      background: $mystic;
      margin-bottom: 2.4rem;

      &-url {
        border-bottom: 2px solid $white;

        .Input {
          flex: 1;

          .ant-input {
            background: transparent;
            color: $blue-ribbon;
            transform: none;
            font-style: italic;
          }
        }

        .Button {
          .ant-btn {
            transform: none;
            font-style: italic;
          }
        }
      }

      &-description {
        padding: 2.4rem 3.6rem;

        ul {
          padding-left: 2rem;
          list-style: disc;
        }

        p,
        li {
          font-size: 1.6rem;
          line-height: 2.4rem;
          font-style: italic;
          font-weight: 500;
          color: $dove-gray;
          @media (max-width:767px) {
            font-size: 1.4rem; 
          }
        }
      }
    }

    &-total {
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $dove-gray;
      font-style: italic;
      padding: 1.6rem 0 2.4rem;
      border-top: 1px solid $mystic;

      strong {
        margin-left: 0.4rem;
        font-weight: 600;
        color: $cod-gray;
      }
    }

    &-actions {
      .Button {
        .ant-btn {
          &.ant-btn-text {
            padding: 0;
            color: $red-orange;
            background: transparent;
            border: none;
          }
        }
      }
    }
  }

  &-ticket {
    position: sticky;
    top: calc(8rem + 1.6rem);
    padding: 3.2rem 2.4rem;
    background: $aqua-haze;
    @media (max-width: 767px) {
      position: relative;
      padding: 2.2rem 2.4rem;
      background: #F2F6F8;
      width: 37.5rem;
      transform: translateY(-24%);
      margin: auto;
      top: 1.6rem;
    }
    .TournamentDetail {
      &-table {
        margin-bottom: 0;
      }
    }
  }
}
