.Auth {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }

  &-body {
    position: relative;
    min-height: 96rem;
    padding: 18rem 0;
    @media (max-width:991px) {
      min-height: 0;
      padding-top: 11.5rem;
      padding-bottom: 2.4rem;
    }
  }

  &-background {
    @include fullAbsolute;
    z-index: -1;
    background: url('../../assets/images/bg-auth.png');
    background-size: cover;
    background-position: center;

    &::before {
      @include fullAbsolute;
      content: '';
      background: rgba($blue-ribbon, 0.8);
    }
  }

  .ant-form-item {
    margin-bottom: 1.6rem;
  }

  &-form {
    max-width: 76.8rem;
    width: 100%;
    margin: 0 auto;
    background: $white;
    padding: 5.6rem 0 9.6rem;
    @media (max-width:991px) {
      padding: 3.2rem 2.4rem 4.8rem;
    }
    &-register {
      width: 100%;
      margin: 0 auto;
      background: $white;
      padding: 5.6rem 0 9.6rem;
      padding-bottom: 26rem;
      margin-top: 6rem;
      @media (max-width:991px) {
        margin-top: 3rem;
        .Button .ant-btn.ant-btn-lg {
          margin-top: 24px;
          width: 100%;
        }
      }
      .Auth-form{
        &-group {
          margin-bottom: 2rem;
          @media (max-width:991px) {
            margin-bottom: 4rem;
          }
          .ant-row {
            row-gap: 0 !important;
          }
        }
        &-title {
          display: block;
          margin-right: 16px;
          text-align: left;
          margin-bottom: 16px;
          span {
            color: $blue-ribbon;
            text-transform: lowercase;
          }
        }
        &-wrapper {
          max-width: 100%;

        }
      } 
    }
    &-title {
      margin-bottom: 3.2rem;
      font-style: italic;
      font-weight: 900;
      font-size: 2.4rem;
      line-height: 4rem;
      color: $cod-gray;
      text-align: center;
      text-transform: uppercase;
      @media (max-width:991px) {
        font-size: 1.5rem;
      }
    }

    &-wrapper {
      max-width: 48rem;
      width: 100%;
      margin: 0 auto;
    }

    &-link {
      display: block;
      margin-bottom: 2.4rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-style: italic;
      font-weight: 500;
      color: $blue-ribbon;

      &:hover {
        text-decoration: underline;
      }
    }

    &-text {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-style: italic;
      font-weight: 500;
      color: $cod-gray;
    }

    &-btn {
      .ant-btn {
        width: 100%;
      }
    }

    &-or {
      position: relative;
      max-width: 28.2rem;
      margin: 2.4rem auto;
      width: 100%;
      text-align: center;

      span {
        position: relative;
        z-index: 2;
        background: $white;
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: $emperor;
        padding: 0 2.4rem;
        font-weight: 500;
      }

      &::before {
        @include centerAbsolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: 1px;
        background: $mystic;
      }
    }

    &-submit {
      .Button {
        .ant-btn {
          width: 100%;
          &.ant-btn-lg {
            padding: 1.6rem 3.6rem;
            font-size: 1.4rem;
            line-height: 2.2rem;
            height: 3.6rem;
        }
        }
      }
    }
  }
}
.Login-wrapper {
  .ant-row {
    justify-content: space-between;
  }
  h2 {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 6rem;
    letter-spacing: -0.02em;
    color: #3CFCF5;
    font-style: italic;
    margin-bottom: 0.8rem;
    display: block;
    margin-right: 16px;
    span {
      color: #fff;
      text-transform: uppercase;
      font-size: 5rem;
    }
    @media (max-width:991px) {
      font-size: 1.5rem;
      line-height: 3rem;
      span {
        font-size: 2rem;
      }
    }
  }
  p {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #fff;
    margin-bottom: 1.5rem;
    display: block;
    span, a {
      font-weight: 700;
      color: #3CFCF5;
      cursor: pointer;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}
