.Auth {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }

  &-body {
    position: relative;
    min-height: 96rem;
    padding: 18rem 0;
  }

  &-background {
    @include fullAbsolute;
    z-index: -1;
    background: url('../../assets/images/bg-auth.png');
    background-size: cover;
    background-position: center;

    &::before {
      @include fullAbsolute;
      content: '';
      background: rgba($blue-ribbon, 0.8);
    }
  }

  .ant-form-item {
    margin-bottom: 1.6rem;
  }

  &-form {
    max-width: 76.8rem;
    width: 100%;
    margin: 0 auto;
    background: $white;
    padding: 5.6rem 0 9.6rem;

    &-title {
      margin-bottom: 3.2rem;
      font-style: italic;
      font-weight: 900;
      font-size: 2.4rem;
      line-height: 4rem;
      color: $cod-gray;
      text-align: center;
      text-transform: uppercase;
    }

    &-wrapper {
      max-width: 48rem;
      width: 100%;
      margin: 0 auto;
    }

    &-link {
      display: block;
      margin-bottom: 2.4rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-style: italic;
      font-weight: 500;
      color: $blue-ribbon;

      &:hover {
        text-decoration: underline;
      }
    }

    &-text {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-style: italic;
      font-weight: 500;
      color: $cod-gray;
    }

    &-btn {
      .ant-btn {
        width: 100%;
      }
    }

    &-or {
      position: relative;
      max-width: 28.2rem;
      margin: 2.4rem auto;
      width: 100%;
      text-align: center;

      span {
        position: relative;
        z-index: 2;
        background: $white;
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: $emperor;
        padding: 0 2.4rem;
        font-weight: 500;
      }

      &::before {
        @include centerAbsolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: 1px;
        background: $mystic;
      }
    }

    &-submit {
      .Button {
        .ant-btn {
          width: 100%;
        }
      }
    }
  }
}
