.TournamentService {
  padding: 4.8rem 0;

  &-title {
    font-style: italic;
    font-weight: 900;
    color: $cod-gray;
    font-size: 3.2rem;
    line-height: 3.8rem;
    text-transform: uppercase;
    margin-bottom: 2.4rem;

    span {
      font-size: 3.2rem;
      line-height: 3.8rem;
      color: $blue-ribbon;
      margin-left: 0.4rem;
      display: inline-block;
      text-transform: none;
    }
    @media (max-width:767px) {
      font-size: 1.8rem;
      span{
        font-size: 1.6rem;
      }
    }
  }

  &-main {
    padding: 3.2rem;
    background: $aqua-haze;
    column-gap: 2.8rem;
    @media (max-width:991px) {
      flex-wrap: wrap;
    }
    &-btn {
      margin-top: 4.8rem;
      @media (max-width:991px) {
        margin-top: 1.6rem;
      }
    }
  
    &-item {
      &:last-child {
        flex: 0 0 52.2rem;
        max-width: 52.2rem;
        order: 2;
        @media (max-width:991px) {
          flex: 0 0 100%;
          max-width: 100%;
          order: 1;
        }
      }
      &:first-child{
        order: 1;
        @media (max-width:991px) {
          flex: 0 0 100%;
          max-width: 100%;
          order: 2;
        }
      }
    }

    &-image {
      overflow: hidden;
      clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
      @include centerScaleImage;
    }

    &-description {
      padding-top: 2.4rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-style: italic;
      color: $dove-gray;
      @media (max-width:991px) {
        padding-top: 1.6rem;
        font-size: 1.4rem;
      }
    }
  }
}
