.PaymentInstructions {
  position: relative;
  padding: 9.6rem 0 12.8rem;

  &-background {
    @include fullAbsolute;
    @include centerScaleImage;
    z-index: 1;

    &:before {
      @include fullAbsolute;
      content: '';
      background: rgba($bottle-green, 0.7);
    }
  }

  &-wrapper {
    position: relative;
    z-index: 2;
  }

  &-title {
    margin-bottom: 3.6rem;
    color: $white;
    font-weight: 900;
    font-style: italic;
    font-size: 3.6rem;
    line-height: 4.2rem;
  }

  &-tab {
    .TabRectangle {
      &.NORMAL {
        .TabRectangle {
          &-item {
            transform: none;
            padding: 1.6rem 3.6rem;
            font-size: 1.8rem;
            font-style: italic;
            font-weight: 900;
            line-height: 2.2rem;
            background: rgba($black, 0.25);
            transform: none;
            color: $white;

            &:hover {
              background: rgba($black, 0.5);
            }

            &.active {
              color: $blue-ribbon;
              background: $white;
            }
          }
        }
      }

    }
  }

  &-card {
    background: $white;
    padding: 3.2rem 4rem;

    &.sticky {
      position: sticky;
      top: calc(8rem + 1.6rem);
    }

    &-title {
      font-size: 2rem;
      line-height: 2.8rem;
      color: $cod-gray;
      margin-bottom: 0.8rem;
      font-style: italic;
      font-weight: 900;
    }

    &-description {
      font-size: 1.6rem;
      line-height: 2rem;
      font-style: italic;
      color: $regent-gray;

      strong {
        color: $cod-gray;
        font-weight: 700;
      }

      a {
        color: $blue-ribbon;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-table {
      &.expand-x {
        margin: 0 -1.2rem;
      }

      &.striped {
        table {
          tr {
            &:nth-child(odd) {
              background: $porcelain;
            }

            &:nth-child(even) {
              background: $aqua-haze;
            }
          }
        }
      }

      table {
        width: 100%;

        tr {
          &.spacing-bottom {
            td {
              padding-bottom: 2.4rem;
            }
          }

          &.spacing-top {
            td {
              padding-top: 2.4rem;
            }
          }

          &.border-top {
            td {
              padding-top: 2.4rem;
              border-top: 1px solid $mystic;
            }
          }

          &.border-bottom {
            td {
              padding-bottom: 2.4rem;
              border-bottom: 1px solid $mystic;
            }
          }
        }

        td {
          font-style: italic;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 2.4rem;
          color: $dove-gray;
          padding: .8rem 1.2rem;
          white-space: nowrap;
          vertical-align: middle;

          .Icon {
            width: 2.4rem;
            height: 2.4rem;
            cursor: pointer;
          }

          strong {
            font-weight: 600;
            color: $cod-gray;

            span {
              font-size: 2.4rem;
              font-weight: 900;
              font-style: italic;
              line-height: 3rem;
              color: $blue-ribbon;
            }
          }
        }
      }
    }
  }
  &-main{
    &-success{
          .QR {
            display: flex;
            margin-top: 40px;
            margin-bottom: 24px;
            gap: 8px;
            min-height: 144px;
            align-items: center;
            &-content {
              font-family: 'Inter';
              font-style: italic;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: -0.02em;
              color: $cod-gray;
            }
            &-img{
              max-width: 144px;
              width: 100%;
            }
          }
          &-header{
           width: 100%;
           background: $persian-green;
           padding: 2.7rem 5.1rem;
           display: flex;
           align-items: center;
           span{
             font-weight: 900;
             font-size: 24px;
             color: white;
           }
           .Icon{
             margin-right: 1.9rem;
             width: unset;
           }
         }
          &-body{
            background: white;
            padding: 36px;
            .des-title {
              font-family: 'Inter';
              font-style: italic;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: -0.02em;
              color: $regent-gray;
              span {
                color: $blue-ribbon;
              }
            }
            &-btn{
              margin-top: 36px;
              .Button{
                width: 100%;
                &:first-child{
                  margin-right: 12px;
                }
                .ant-btn.ant-btn-lg{
                  width: 100%;
                }
              }
            }
            h3{
              color: $cod-gray;
              font-weight: 900;
              font-size: 18px;
              margin-bottom: 13px;
              font-style: italic;
            }
            li{
              display: flex;
              justify-content: space-between;
              margin-bottom: 20px;
              font-style: italic;
              span:first-child{
                color: #6A6A6A;
                font-weight: 500;
                font-size: 16px;
              }
              span:last-child{
                font-weight: 600;
                font-size: 16px;
                color: $cod-gray;
              }
            }
            &-list{
              width: 50%;
            }
            &-copy{
              background: #E6EBF0;
              &-top{
                border-bottom: 2px solid white;
                padding-left: 24px;
                .link{
                  font-weight: 500;
                  color: #1964FF;
                  cursor: pointer;
                  font-size: 16px;
                  font-style: italic;
                }
                .Button .ant-btn{
                  transform:unset;
                }
              }
              &-bottom{
                padding: 24px 36px;
                font-weight: 500;
                font-size: 16px;
                color: #6A6A6A;
              }
            }
          }
    }
  }
  &-infobank {
    &-title {
      font-style: italic;
      font-weight: 900;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.02em;
      color: $cod-gray;
      margin-bottom: 16px;
    }
    ul {
      li {
        display: flex;
        align-items: center;
      }
      span {
        text-align: left;
        width: 100%;
      }
    }
  }
  &-warming {
    padding: 24px 36px;
    background: #FFF7E8;
    margin-bottom: 16px;
    margin-top: 40px;
    &-title {
      font-style: italic;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: $cod-gray;
      margin-bottom: 8px;
    }
    &-content {
      font-style: italic;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: $regent-gray;
      strong {
        font-weight: 700;
        color: $cod-gray;
      }
    }
  }
  &-danger {
    padding: 24px 36px;
    background: #FFE8E8;
    &-title {
      font-style: italic;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: $cod-gray;
      margin-bottom: 8px;
    }
    &-content {
      font-style: italic;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: $regent-gray;
      strong {
        font-weight: 700;
        color: $cod-gray;
      }
    }
  }
}
