.Table {
  .ant-table {
    .ant-table-thead {
      &>tr {
        &>th {
          // background: $blue-ribbon;
          font-style: italic;
          font-weight: 900;
          font-size: 1.8rem;
          line-height: 2.6rem;
          padding: 1.2rem;
          color: $white;
          text-align: center;
          text-transform: uppercase;
          
          &:nth-child(odd) {
            background: #001375;
          }
  
          &:nth-child(even) {
            background: #1964FF;
          }
          &::before {
            display: none;
          }
        }
      }
    }

    .ant-table-tbody {
      &>tr {
        // &:nth-child(odd) {
        //   td {
        //     background: $athens-gray;

        //     &:first-child {
        //       background: #EDEEF1;
        //     }
        //   }
        // }
        td {
          &:nth-child(odd) {
            background: #E9F7FF;
          }

          &:nth-child(even) {
            background: #F2F6F8;
          }
          &:last-child {
            background: #E9F7FF;
          }
        }
        // &:nth-child(even) {
        //   td {
        //     background: $white;

        //     &:first-child {
        //       background: #FAFAFA;
        //     }
        //   }
        // }

        &>td {
          padding: 1rem .8rem;
          font-size: 1.6rem;
          line-height: 2rem;
          color: $black;
          text-align: center;
          font-weight: 700;
          font-style: italic;
          border: none;

          &:first-child {
            font-weight: 800;
          }
        }
      }
    }
  }
}
