.Header {
  background: $white;
  padding: .8rem 0;
  transition: $common-transition;
  box-shadow: 0 0 10px rgba($black, 0.3);
  z-index: 5;
  position: relative;
  @media (max-width:991px) {
    padding: 1.8rem 0;
  }

  &-wrapper {
    column-gap: 4.8rem;
    &-toggle {
      &-close {
        position: absolute;
        top: 32px;
        left: 20px;
      }
    }

    @media (max-width:991px) {
      column-gap: 1.4rem;
    }
  }

  &-actions {
    column-gap: 2.8rem;

    @media (max-width:991px) {
      flex: 1;
      justify-content: flex-end;

      .Button .ant-btn.ant-btn-lg {
        padding: 1.6rem 1.6rem;
        font-size: 1.4rem;
        line-height: 2.2rem;
        height: 3.2rem;
      }
    }

  }

  &-logo {
    max-width: 19rem;
    @media (max-width:991px) {
      max-width: 15rem;
    }

    img {
      width: 100%;
    }
  }

  &-nav {
    margin-left: auto;

    @media (max-width:991px) {
      position: absolute;
      left: 0;
      top: 100%;
      display: none;
    }

    &-list {
      column-gap: 4rem;

      @media (max-width:991px) {
        flex-direction: column;
      }

      &-item {
        a {
          font-size: 1.6rem;
          font-style: italic;
          line-height: 2.4rem;
          font-weight: 700;
          color: $regent-gray;
        }
      }
    }
    &-mobile {
      display: flex;
      flex-direction: column;
      transform: translateX(-100%);
      height: 100vh;
      width: 80%;
      text-align: left;
      padding: 2rem;
      padding-top: 92px;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.3s ease-in-out;
      background: #fff;
      z-index: 7;
      &.open{
        transform: translateX(0);
      }
      .Header-nav-list {
        gap: 24px;
        li {
          text-transform: uppercase;
        }
      }
    }
  }

  &-language {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    @include centerScaleImage;
  }
}
.overlay-menu {
  position: absolute;
  content: '';
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 6;
}