.Banner {
  position: relative;

  &.fit-content {
    .Banner {
      &-image {
        @include fullAbsolute;
      }

      &-overlay {
        position: relative;
      }
    }
  }

  &-image {
    @include centerScaleImage;
  }

  &-overlay {
    @include fullAbsolute;
    z-index: 2;
    background: rgba($blue-ribbon, 0.7);
    padding: 9.6rem 0;
  }

  &-text {
    font-style: italic;
    font-weight: 900;
    color: $white;
    font-size: 6.4rem;
    line-height: 7.7rem;
    text-transform: uppercase;

    span {
      font-size: 5.6rem;
      line-height: 6.7rem;
      color: $my-sin;
      margin-left: 2rem;
      display: inline-block;
      text-transform: none;
    }
  }
}
